**/config.json
tns/lib
*.log
*.pid
*.seed
.DS_Store
.grunt
.lock-wscript
.map
.project
.settings
build
build.log
build/Release
coverage
lib-cov
logs
node_modules
npm-debug.log
pids
Resources
Thumbs.db
tmp
ti.admob-master